{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>
        {% block title %}
        TweetCenter
        {% endblock %}
    </title>
</head>
<body class="bg-gray-900">
    <nav class="bg-black p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">

            <div class="text-lg font-bold">
                <a href="{% url "tweets_list" %}">TweetCENTER</a>
            </div>

            
            <div class="space-x-4">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href="{% url "tweets_list" %}">HOME</a>
                </button>
                {% if user.is_authenticated %}
                <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    <form method='post' action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button>Logout</button>
                    </form>
                </button>
                {%else%}
                <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    <a href="{% url "login" %}">LOGIN</a>
                </button>
                <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    <a href="{% url "register" %}">REGISTER</a>
                </button>
                {% endif %}
                
                
            </div>
        </div>
    </nav>




    {% block content %}{% endblock %}
</body>
</html>
